<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
	<!-- 1.选择一个-->
  <select name="abc" v-model="fruit">
    <option value="苹果" >苹果</option>
    <option value="西瓜" >西瓜</option>
    <option value="哈密瓜" >哈密瓜</option>
    <option value="无敌水果"  >无敌水果</option>
  </select>
  <h2>您选择的水果为:{{fruit}}</h2>

  <!-- 1.选择多个-->
  <select name="abc" v-model="fruits" multiple>
    <option value="苹果" >苹果</option>
    <option value="西瓜" >西瓜</option>
    <option value="哈密瓜" >哈密瓜</option>
    <option value="无敌水果"  >无敌水果</option>
  </select>
  <h2>您选择的水果为:{{fruits}}</h2>
</div>
<script src="../js/vue.js"></script>


<script>
	const app = new Vue({
		el: '#app',
		data: {
		  message: '你好啊',
      fruit: '西瓜',
      fruits: []
		}
	})
</script>

</body>
</html>